In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
nas_full = pd.read_csv('../datasets/nas/nas_full.csv');

# trimming all whitespaces from cells
df_obj = nas_full.select_dtypes(['object'])
nas_full[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

nas_full.iloc[:,:]

df1 = nas_full.drop_duplicates(subset=['STUID'], keep=False)
df1

,STUID,State,District,Gender,Age,Category,Same language,Siblings,Handicap,Father edu,...,Express science views,Watch TV,Read magazine,Read a book,Play games,Help in household,Maths %,Reading %,Science %,Social %
0,11011001001,AP,1,1,3,3,1,5,2,1,...,3,3,4,3,4,4,20.37,NaN,27.78,NaN
1,11011001002,AP,1,2,3,4,2,5,2,2,...,3,4,4,3,4,4,12.96,NaN,38.18,NaN
2,11011001003,AP,1,2,3,4,2,5,2,1,...,3,4,3,3,4,4,27.78,70.00,NaN,NaN
3,11011001004,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,NaN,56.67,NaN,36.00
4,11011001005,AP,1,2,3,3,2,5,2,1,...,3,2,3,3,4,4,NaN,NaN,14.55,8.33
5,11011001006,AP,1,2,3,3,1,5,2,3,...,1,4,3,2,4,4,NaN,23.33,NaN,30.00
6,11011001007,AP,1,2,3,4,2,2,2,1,...,3,4,4,4,4,4,40.74,70.00,NaN,NaN
7,11011001008,AP,1,2,2,0,2,4,2,1,...,3,4,3,3,3,4,NaN,26.67,NaN,22.92
8,11011001009,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,24.07,NaN,25.45,NaN
9,11011001010,AP,1,2,2,4,2,3,2,1,...,3,4,3,4,3,4,18.52,26.67,NaN,NaN
10,11011001012,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,37.04,16.67,NaN,NaN
11,11011001013,AP,1,2,5,3,2,4,2,2,...,1,4,1,2,3,4,20.37,NaN,20.00,NaN
12,11011001014,AP,1,2,3,3,1,4,2,2,...,3,3,4,4,4,4,NaN,NaN,29.63,35.42
13,11011001015,AP,1,2,3,3,1,5,2,0,...,3,3,3,3,4,4,27.78,66.67,NaN,NaN
14,11011001016,AP,1,2,3,3,2,5,2,0,...,2,4,1,3,4,4,18.52,NaN,NaN,NaN
15,11011001017,AP,1,2,2,4,2,5,2,2,...,3,4,3,3,4,4,NaN,NaN,42.59,32.00
16,11011001018,AP,1,2,2,4,1,5,2,2,...,3,4,3,3,3,4,16.67,NaN,NaN,NaN
17,11011001019,AP,1,2,0,0,0,1,0,1,...,3,1,4,4,4,4,NaN,NaN,21.82,NaN
18,11011001020,AP,1,2,3,3,1,3,1,3,...,3,4,3,3,4,4,NaN,20.00,NaN,16.00
19,11011001021,AP,1,2,3,4,1,4,2,1,...,3,4,3,3,4,4,NaN,NaN,18.52,16.67
20,11011001022,AP,1,2,3,4,1,4,2,1,...,3,4,3,4,4,4,29.63,NaN,18.18,NaN
21,11011001023,AP,1,2,3,4,1,2,2,1,...,3,4,3,3,4,4,NaN,43.33,NaN,NaN
22,11011001024,AP,1,1,5,1,2,5,2,2,...,3,4,4,3,2,4,38.89,60.00,NaN,NaN
23,11011001025,AP,1,1,3,1,1,4,2,1,...,1,3,4,3,4,4,27.78,NaN,33.33,NaN
24,11011001026,AP,1,1,5,2,1,4,2,1,...,3,4,4,3,4,4,NaN,43.33,NaN,42.00
25,11011001027,AP,1,1,5,2,1,5,2,1,...,3,4,4,4,4,4,NaN,NaN,43.64,39.58
26,11011001029,AP,1,1,4,3,1,5,2,1,...,3,3,4,3,4,4,29.63,73.33,NaN,NaN
27,11011001030,AP,1,2,5,3,2,5,2,1,...,3,1,4,4,4,4,29.63,NaN,NaN,NaN
28,11011001031,AP,1,1,2,4,1,4,2,1,...,3,4,4,3,3,4,24.07,NaN,40.74,NaN
29,11011001032,AP,1,1,0,3,2,5,2,1,...,3,4,2,3,4,4,NaN,13.33,NaN,14.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184640,45021031013,DD,2,2,3,3,1,4,2,3,...,2,4,3,2,4,4,NaN,NaN,NaN,NaN
184641,45021031016,DD,2,2,4,2,1,5,2,3,...,2,4,3,3,2,4,30.51,44.83,32.73,17.02
184642,45021031018,DD,2,2,3,2,1,5,2,3,...,2,4,4,3,4,4,27.12,27.59,32.73,29.79
184643,45021031019,DD,2,2,3,3,1,3,2,5,...,2,4,3,1,4,4,NaN,NaN,50.00,30.61
184644,45021031020,DD,2,2,3,3,1,3,2,5,...,2,4,3,2,4,4,33.90,93.10,52.73,23.40
184645,45021031022,DD,2,2,4,3,1,5,2,2,...,2,4,3,2,4,4,23.73,48.28,36.36,36.17
184646,45021031023,DD,2,2,4,4,1,2,2,2,...,2,4,3,3,4,4,36.67,66.67,37.50,34.69
184647,45021031024,DD,2,2,4,4,1,5,2,1,...,2,4,3,3,4,4,25.42,82.76,49.09,29.79
184648,45021031025,DD,2,2,5,4,2,5,2,2,...,2,4,4,3,4,4,26.67,63.33,32.14,26.53
184649,45021031026,DD,2,2,2,4,1,4,2,3,...,2,4,1,3,4,4,27.12,34.48,38.18,29.79
184650,45021031027,DD,2,2,2,4,1,4,2,3,...,2,4,3,4,4,4,30.00,53.33,33.93,24.49
184651,45021031028,DD,2,2,5,3,0,1,2,3,...,2,4,4,2,4,4,28.81,79.31,34.55,25.53
184652,45021031029,DD,2,1,5,3,1,2,0,2,...,2,4,3,2,4,4,20.00,36.67,35.71,24.49
184653,45021031030,DD,2,1,3,3,1,2,2,3,...,2,4,3,2,4,3,38.98,79.31,45.45,34.04
184654,45021031032,DD,2,1,3,1,1,3,0,3,...,2,4,3,2,4,3,28.81,82.76,60.00,42.55
184655,45021031036,DD,2,1,4,2,1,2,2,1,...,2,4,3,2,4,4,NaN,NaN,29.09,21.28
184656,45021031037,DD,2,2,3,3,1,5,2,3,...,2,4,4,3,3,4,40.00,63.33,35.71,42.86
184657,45021031038,DD,2,2,3,4,2,4,2,2,...,2,1,1,1,4,4,25.42,51.72,40.00,23.40
184658,45021031039,DD,2,2,5,4,1,4,2,3,...,2,4,1,3,4,4,23.33,46.67,33.93,30.61
184659,45021031040,DD,2,2,4,4,2,4,2,3,...,2,4,1,3,4,4,27.12,24.14,32.73,44.68
184660,45021031041,DD,2,2,5,4,2,3,2,1,...,2,4,3,3,2,4,33.90,66.67,41.07,38.78
184661,45021031042,DD,2,2,5,4,2,4,2,5,...,2,4,3,3,2,4,NaN,72.41,36.36,42.55
184662,45021031045,DD,2,2,3,3,1,3,2,5,...,2,4,3,2,3,4,36.67,66.67,41.07,42.86
184663,45021031046,DD,2,2,3,3,1,2,2,3,...,2,4,3,2,3,4,42.37,72.41,45.45,36.17
184664,45021031047,DD,2,2,4,3,1,2,2,3,...,2,4,3,2,3,4,45.00,66.67,32.14,24.49
184665,45021031048,DD,2,2,3,3,1,2,2,3,...,2,4,3,2,3,4,22.03,65.52,38.18,19.15
184666,45021031049,DD,2,2,2,1,1,3,2,3,...,2,4,3,3,4,4,31.67,40.00,41.07,24.49
184667,45021031050,DD,2,2,3,2,1,3,2,3,...,2,4,3,2,4,4,40.68,41.38,38.18,27.66
184668,45021031051,DD,2,2,3,2,1,2,2,1,...,2,4,3,3,4,4,18.33,70.00,33.93,32.65
184669,45021031052,DD,2,2,3,2,1,2,2,1,...,2,4,3,3,4,4,23.73,55.17,41.82,31.91

In [10]:
#IGNORE
len(df1[(df1['Maths %'] > 80) & (df1.Distance == 0)])

38

In [12]:
#IGNORE
df_distance_maths = pd.DataFrame(columns = ['Top', 'Mid', 'Fail']);
j=0;
for i in df1.Distance.unique():
    #Count of students with maths marks > 80 & Distance = row_num
    df_distance_maths.loc[j] = [len(df1[(df1['Maths %'] > 80) & (df1.Distance == j)]), len(df1[(df1['Maths %'] < 81) & (df1['Maths %'] > 32) & (df1.Distance == j)]), len(df1[(df1['Maths %'] < 33) & (df1.Distance == j)])] 
    j+=1;
df_distance_maths

     Top      Mid     Fail
0   38.0    920.0   1970.0
1  994.0  19828.0  35708.0
2  276.0   7169.0  12980.0
3   76.0   2415.0   5058.0
4   64.0   2256.0   4869.0

In [15]:
#IGNORE
df1.corr()
#df1.corr().to_csv('../datasets/OneLineCodeCorrelation.csv')

In [18]:
#Dividing Toppers
df_Top = df1.copy();
df_Top = df_Top.loc[df_Top['Maths %'] > 80];
df_Top

,STUID,State,District,Gender,Age,Category,Same language,Siblings,Handicap,Father edu,...,Express science views,Watch TV,Read magazine,Read a book,Play games,Help in household,Maths %,Reading %,Science %,Social %
123,11011006001,AP,1,2,3,1,1,3,2,2,...,3,4,3,3,4,4,81.48,40.00,NaN,NaN
126,11011006004,AP,1,2,3,3,1,2,2,1,...,3,4,3,3,4,4,81.48,33.33,NaN,NaN
135,11011006013,AP,1,2,3,2,1,5,0,1,...,3,3,1,4,4,4,85.19,NaN,37.04,NaN
947,11021035008,AP,2,2,3,4,1,2,2,2,...,3,4,4,3,4,1,87.04,80.00,NaN,NaN
948,11021035009,AP,2,2,3,3,1,4,2,2,...,2,3,4,4,4,4,83.33,10.00,NaN,NaN
949,11021035010,AP,2,2,3,3,1,2,2,1,...,3,4,4,3,3,4,90.74,56.67,NaN,NaN
1185,11021047001,AP,2,2,2,4,1,3,2,2,...,1,4,4,4,4,4,88.89,70.00,NaN,NaN
1193,11021047013,AP,2,2,2,4,1,3,2,2,...,3,4,1,3,4,4,87.04,NaN,NaN,NaN
5563,11081197018,AP,8,1,3,3,1,3,2,2,...,3,4,4,3,4,4,85.19,76.67,NaN,NaN
5872,11081208001,AP,8,2,4,0,1,3,2,2,...,3,3,4,4,2,4,83.33,63.33,NaN,NaN
5874,11081208004,AP,8,2,4,1,1,3,2,3,...,3,4,3,4,4,4,81.48,70.00,NaN,NaN
5878,11081208010,AP,8,1,4,1,1,2,2,1,...,3,4,3,4,4,4,81.48,76.67,NaN,NaN
5887,11081208024,AP,8,2,4,1,1,2,2,2,...,3,4,4,3,4,4,81.48,46.67,NaN,NaN
5888,11081208025,AP,8,2,4,4,1,2,2,1,...,3,4,4,3,4,4,81.48,46.67,NaN,NaN
5889,11081208026,AP,8,2,3,4,1,2,2,3,...,3,4,4,2,4,4,81.48,43.33,NaN,NaN
7489,11111261032,AP,11,2,3,1,1,3,2,2,...,3,3,4,3,3,4,83.33,NaN,NaN,78.00
7492,11111261037,AP,11,1,4,1,1,5,2,1,...,2,3,4,3,4,4,85.19,NaN,NaN,80.00
7493,11111261039,AP,11,1,4,3,1,5,2,1,...,1,3,4,3,4,4,81.48,NaN,NaN,78.00
7698,11111270035,AP,11,1,2,4,2,3,2,1,...,3,4,4,4,3,4,81.48,NaN,NaN,82.00
7700,11111270037,AP,11,1,4,3,2,5,0,5,...,3,4,1,3,4,1,81.48,NaN,NaN,88.00
7701,11111270038,AP,11,1,5,1,2,3,0,2,...,1,4,1,3,4,4,81.48,NaN,NaN,NaN
7702,11111270039,AP,11,1,3,3,1,2,2,1,...,3,4,2,4,4,4,83.33,NaN,NaN,82.00
7719,11112267022,AP,11,1,4,0,1,3,2,2,...,3,4,4,3,4,4,81.48,NaN,NaN,29.17
7745,12011002009,AR,1,1,4,2,2,3,2,5,...,3,4,4,4,2,4,81.67,93.33,NaN,NaN
8143,12011024004,AR,1,1,6,2,2,3,2,1,...,1,3,1,2,3,3,83.05,NaN,74.55,NaN
8147,12011024008,AR,1,2,5,2,2,3,2,2,...,3,3,1,1,3,3,86.44,NaN,NaN,82.00
8230,12021031002,AR,2,2,3,2,2,3,2,3,...,3,2,1,3,3,4,86.44,76.67,NaN,NaN
8234,12021031006,AR,2,2,4,2,2,4,1,2,...,3,3,3,3,4,4,88.14,66.67,NaN,NaN
8238,12021031010,AR,2,2,3,2,2,5,2,1,...,3,3,1,3,4,4,81.36,70.00,NaN,NaN
8245,12021031018,AR,2,2,3,2,2,5,2,3,...,3,3,2,4,4,4,84.75,63.33,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170195,40021066014,AN,2,2,4,2,0,2,2,1,...,3,4,2,4,4,1,84.75,70.00,52.73,66.00
170518,40031081017,AN,3,2,3,4,2,2,2,5,...,3,3,3,4,3,4,88.33,93.33,82.14,80.00
171159,40031107002,AN,3,1,3,4,1,2,2,4,...,1,4,1,3,4,4,83.05,73.33,74.55,76.00
171161,40031107004,AN,3,1,3,4,2,3,2,3,...,3,4,1,4,4,4,83.05,80.00,58.18,74.00
171163,40031107006,AN,3,1,4,4,1,3,2,2,...,1,4,1,3,4,4,86.44,80.00,61.82,58.00
171164,40031107007,AN,3,1,3,4,1,2,2,3,...,1,4,1,3,4,4,81.67,63.33,58.93,80.00
171234,40031110021,AN,3,2,2,4,2,4,2,3,...,3,4,1,3,4,4,86.44,80.00,76.36,76.00
172348,41011022006,CH,1,2,3,4,1,2,2,5,...,2,4,4,2,4,3,93.22,93.33,80.00,86.00
172448,41011023055,CH,1,1,3,4,2,3,2,5,...,3,4,4,3,4,4,81.67,96.67,75.00,94.00
175771,42021022021,PY,2,2,2,4,2,3,2,5,...,3,4,4,3,3,4,83.33,86.67,NaN,NaN
180559,42041165033,PY,4,2,3,4,2,1,2,2,...,3,3,4,4,4,4,88.33,50.00,NaN,NaN
180560,42041165034,PY,4,2,3,3,2,1,2,1,...,0,4,3,3,4,4,93.22,30.00,NaN,NaN
180563,42041165037,PY,4,1,4,3,0,2,2,2,...,1,4,3,3,4,4,83.33,66.67,NaN,NaN
180719,42041171025,PY,4,1,2,3,2,3,2,3,...,3,4,2,2,4,4,81.67,80.00,NaN,NaN
180872,42041180001,PY,4,1,3,3,1,4,2,2,...,2,4,4,4,4,1,84.75,40.00,NaN,NaN
180873,42041180002,PY,4,1,3,3,1,2,2,3,...,2,4,4,4,4,1,96.43,90.00,NaN,NaN
180878,42041180007,PY,4,1,3,1,1,3,2,4,...,2,4,4,4,4,1,96.43,NaN,25.00,NaN
180885,42041180014,PY,4,2,3,3,1,3,2,4,...,2,4,4,4,4,1,81.36,63.33,NaN,NaN
180890,42041180019,PY,4,2,2,3,1,4,2,3,...,2,4,4,4,4,1,94.64,NaN,17.86,NaN
180896,42041180027,PY,4,2,3,1,1,3,2,3,...,2,4,4,4,4,1,84.75,80.00,NaN,NaN
180897,42041180028,PY,4,2,3,3,1,2,2,3,...,2,4,4,4,4,1,85.71,50.00,NaN,NaN
180901,42041180032,PY,4,2,2,3,1,3,2,3,...,2,4,4,4,4,1,92.86,46.67,NaN,NaN
184483,45021028003,DD,2,1,3,4,1,2,2,3,...,2,4,3,3,4,4,91.67,83.33,67.86,55.10
184487,45021028007,DD,2,2,4,2,1,5,2,0,...,3,4,4,1,4,4,90.00,46.67,67.86,38.78
184488,45021028008,DD,2,2,5,2,1,3,2,2,...,3,4,4,3,4,4,81.36,51.72,50.91,42.55
184491,45021028011,DD,2,2,4,2,1,4,2,3,...,3,4,4,3,4,4,85.00,63.33,32.14,42.86
184503,45021028023,DD,2,2,4,1,1,4,2,3,...,3,4,4,3,3,4,85.00,93.33,75.00,83.67
184506,45021028027,DD,2,2,3,4,1,4,2,4,...,3,4,3,2,2,4,83.33,76.67,66.07,77.55
184508,45021028031,DD,2,2,4,4,1,2,2,2,...,3,3,4,1,3,4,81.67,83.33,64.29,79.59
184512,45021028035,DD,2,1,5,2,1,2,2,3,...,3,4,4,4,4,4,83.33,66.67,64.29,71.43

In [20]:
df_Top.corr().to_csv('../datasets/nas/MathsToppersCorrelation.csv')

In [31]:
#Dividing Mid
df_Mid = df1.copy();
df_Mid = df_Mid.loc[((df_Mid['Maths %'] >= 33) & (df_Mid['Maths %'] < 81))];
df_Mid
df_Top.corr().to_csv('../datasets/nas/MathsMidCorrelation.csv')

,STUID,State,District,Gender,Age,Category,Same language,Siblings,Handicap,Father edu,...,Express science views,Watch TV,Read magazine,Read a book,Play games,Help in household,Maths %,Reading %,Science %,Social %
6,11011001007,AP,1,2,3,4,2,2,2,1,...,3,4,4,4,4,4,40.74,70.00,NaN,NaN
10,11011001012,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,37.04,16.67,NaN,NaN
22,11011001024,AP,1,1,5,1,2,5,2,2,...,3,4,4,3,2,4,38.89,60.00,NaN,NaN
43,11011002010,AP,1,1,2,2,2,5,2,2,...,3,2,4,4,3,4,42.59,NaN,42.59,NaN
47,11011002014,AP,1,1,4,3,1,2,2,1,...,3,1,3,4,4,4,33.33,NaN,NaN,NaN
51,11011002020,AP,1,1,5,3,1,5,2,1,...,1,4,4,2,3,4,33.33,30.00,NaN,NaN
70,11011003023,AP,1,1,4,4,1,4,2,1,...,3,4,2,4,4,4,35.19,53.33,NaN,NaN
98,11011005016,AP,1,2,2,1,1,2,2,3,...,2,4,4,4,4,4,42.59,NaN,31.48,NaN
127,11011006005,AP,1,2,3,4,1,3,2,3,...,3,4,3,3,4,4,77.78,NaN,NaN,NaN
132,11011006010,AP,1,2,3,4,1,2,2,2,...,3,4,2,3,4,4,70.37,NaN,29.63,NaN
133,11011006011,AP,1,2,3,3,1,3,2,3,...,3,4,3,3,4,4,74.07,NaN,NaN,NaN
134,11011006012,AP,1,2,3,3,1,2,2,2,...,3,4,3,3,3,4,72.22,63.33,NaN,NaN
136,11011006014,AP,1,2,3,3,1,2,2,2,...,3,4,3,3,4,4,72.22,NaN,27.78,NaN
137,11011006015,AP,1,1,4,3,1,2,2,2,...,3,4,3,3,4,4,61.11,60.00,NaN,NaN
140,11011006018,AP,1,1,3,3,1,3,2,1,...,3,4,4,3,4,4,70.37,NaN,43.64,NaN
141,11011006019,AP,1,1,3,3,1,2,2,2,...,3,4,4,3,4,4,72.22,50.00,NaN,NaN
142,11011006020,AP,1,1,3,3,1,2,2,2,...,3,4,4,3,4,4,62.96,NaN,27.78,NaN
146,11011006024,AP,1,1,4,3,1,2,2,2,...,3,4,3,3,3,3,72.22,16.67,NaN,NaN
148,11011006026,AP,1,1,4,3,1,3,2,2,...,3,4,4,3,4,4,79.63,NaN,53.70,NaN
150,11011006028,AP,1,1,3,3,1,1,2,2,...,3,4,3,4,3,3,72.22,NaN,29.63,NaN
187,11011008005,AP,1,2,4,4,1,4,1,1,...,3,4,2,3,2,4,37.04,NaN,NaN,NaN
196,11011008014,AP,1,1,3,4,1,3,2,1,...,2,4,1,2,1,4,38.89,56.67,NaN,NaN
200,11011008018,AP,1,1,3,4,1,3,2,2,...,1,4,2,1,4,3,35.19,73.33,NaN,NaN
203,11011008021,AP,1,1,5,4,1,3,2,1,...,2,4,2,2,1,4,38.89,NaN,NaN,NaN
211,11011009005,AP,1,2,3,1,1,3,2,1,...,2,4,4,4,4,4,33.33,NaN,44.44,NaN
229,11011009023,AP,1,1,0,1,1,1,0,1,...,3,4,3,2,4,4,33.33,NaN,29.09,NaN
230,11011010001,AP,1,2,3,3,1,3,2,1,...,1,4,4,3,4,4,37.04,30.00,NaN,NaN
231,11011010002,AP,1,2,4,3,1,2,2,1,...,1,4,3,4,4,4,48.15,50.00,NaN,NaN
235,11011010006,AP,1,2,2,3,1,3,2,1,...,1,4,2,1,4,4,48.15,36.67,NaN,NaN
245,11011010017,AP,1,2,3,1,1,2,2,1,...,1,4,4,4,4,4,33.33,70.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184609,45021030026,DD,2,2,3,3,1,3,0,1,...,2,4,3,2,2,4,69.49,48.28,38.18,55.32
184610,45021030027,DD,2,2,3,3,1,3,2,1,...,1,4,3,1,2,4,40.00,76.67,67.86,55.10
184611,45021030028,DD,2,2,4,4,2,2,2,1,...,3,4,4,4,2,4,38.98,44.83,50.91,61.70
184612,45021030029,DD,2,2,5,4,2,2,2,1,...,1,4,3,3,1,4,56.67,63.33,46.43,30.61
184613,45021030030,DD,2,2,3,4,1,3,2,1,...,2,4,2,3,2,4,66.10,65.52,41.82,38.30
184614,45021030031,DD,2,2,4,4,2,2,2,1,...,2,4,2,3,2,4,35.00,63.33,33.93,42.86
184616,45021030033,DD,2,1,5,2,1,3,2,1,...,1,4,3,1,1,4,38.33,46.67,50.00,38.78
184617,45021030035,DD,2,1,5,2,1,2,2,1,...,2,4,3,1,4,4,38.33,66.67,42.86,48.98
184618,45021030036,DD,2,1,6,2,1,5,2,1,...,2,2,3,3,2,4,44.07,48.28,60.00,68.09
184619,45021030038,DD,2,1,4,2,1,3,2,1,...,2,4,3,3,4,4,66.10,44.83,45.45,44.68
184621,45021030040,DD,2,1,4,2,1,3,2,3,...,3,4,3,1,4,4,42.37,48.28,61.82,61.70
184622,45021030041,DD,2,1,3,2,1,2,2,0,...,2,4,3,2,3,3,53.33,53.33,42.86,34.69
184623,45021030042,DD,2,1,3,2,1,4,2,1,...,1,4,4,2,4,4,67.80,55.17,52.73,40.43
184625,45021030044,DD,2,1,5,4,1,5,2,1,...,1,4,3,2,2,4,37.29,34.48,67.27,57.45
184626,45021030045,DD,2,1,3,3,2,3,2,1,...,3,4,4,3,3,3,58.33,60.00,39.29,34.69
184627,45021030046,DD,2,1,6,3,2,5,2,1,...,2,4,3,2,3,3,64.41,48.28,49.09,36.17
184629,45021030048,DD,2,1,4,4,1,2,2,3,...,2,4,3,3,2,4,49.15,68.97,72.73,65.96
184630,45021030049,DD,2,1,4,4,2,3,2,1,...,1,4,3,3,2,4,51.67,60.00,26.79,30.61
184631,45021030050,DD,2,1,4,4,2,1,2,1,...,3,4,3,2,3,3,62.71,44.83,50.91,36.17
184632,45021030052,DD,2,1,4,4,2,1,2,0,...,2,4,3,3,2,4,45.76,68.97,72.73,63.83
184639,45021031011,DD,2,1,3,4,1,3,2,0,...,2,4,4,2,4,4,35.00,60.00,39.29,34.69
184644,45021031020,DD,2,2,3,3,1,3,2,5,...,2,4,3,2,4,4,33.90,93.10,52.73,23.40
184646,45021031023,DD,2,2,4,4,1,2,2,2,...,2,4,3,3,4,4,36.67,66.67,37.50,34.69
184653,45021031030,DD,2,1,3,3,1,2,2,3,...,2,4,3,2,4,3,38.98,79.31,45.45,34.04
184656,45021031037,DD,2,2,3,3,1,5,2,3,...,2,4,4,3,3,4,40.00,63.33,35.71,42.86
184660,45021031041,DD,2,2,5,4,2,3,2,1,...,2,4,3,3,2,4,33.90,66.67,41.07,38.78
184662,45021031045,DD,2,2,3,3,1,3,2,5,...,2,4,3,2,3,4,36.67,66.67,41.07,42.86
184663,45021031046,DD,2,2,3,3,1,2,2,3,...,2,4,3,2,3,4,42.37,72.41,45.45,36.17
184664,45021031047,DD,2,2,4,3,1,2,2,3,...,2,4,3,2,3,4,45.00,66.67,32.14,24.49
184667,45021031050,DD,2,2,3,2,1,3,2,3,...,2,4,3,2,4,4,40.68,41.38,38.18,27.66

In [22]:
#Dividing Failed
df_Failed = df1.copy();
df_Failed = df_Failed.loc[df_Failed['Maths %'] < 33];
df_Failed
df_Failed.corr().to_csv('../datasets/nas/MathsFailedCorrelation.csv')